{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<title>Blog</title>
	{% bootstrap_css %}
	{% bootstrap_javascript %}
    </head>
    <body>
	<h1><a href="{% url 'post_list' %}">Blogs</a></h1>
	{% if user.is_authenticated %}
	    <p>
		hello, {{ user.username }}
	    </p>
	    <a href="{% url 'logout' %}">logout</a>
	    <a href="{% url 'post_new' %}">new post</a>
	{% else %}
	    <a href="{% url 'login' %}">login</a>
	    <a href="{% url 'register' %}">register</a>
	{% endif %}
	<br/>
	<br/>
	{% block content %}
        {% endblock %}
    </body>
</html>