{% extends 'blog/base.html' %}
{% load wysiwyg %}

{% block content %}

{% if form.errors %}
    <p>content is invalid, please modify</p>
{% endif %}

<form method="POST">
    {% csrf_token %}

    <div class="form-group">
	<label for="id_title">{{ form.title.label_tag }}</label>
	<input type="text" maxlength="100" class="form-control" name="title" id="id_title" value="{{ form.title.value }}" required>
	<br/>
	<label for="id_text">{{ form.text.label_tag }}</label>
	<textarea class="form-control" id="id_text" rows="30" name="text" required>{{ form.text.value }}</textarea>
	{% wysiwyg_editor "id_text" %}
    </div>

    {#{ form.as_p }#}
    <button type="submit">submit</button>
</form>
{% endblock %}